data/
# Ignore environment files
.env

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.qodo

.ipynb_checkpoints
./project/backend/model/price_prediction_model.pkl project/backend/model/price_prediction_model.pkl
